h1 {
  color: #444;
}

.container {
  padding-right: 1rem;
  padding-left: 1rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;
}

.row > .col {
  margin: 0 1rem;
}

.row > main {
  flex-grow: 2;
}
